body{        
  padding-top: 60px;
  padding-bottom: 40px;
  margin: 0;
  font-size: 18px;
  background: hsl(0, 0%, 90%);
}
.main-container{
  width: 80%;
  margin: 0 auto; 
  margin-top: 20px;
}
.fixed-header, .fixed-footer{
  width: 100%;
  position: fixed;        
  background: #007489;;
  padding: 10px 0;
  color: #fff;
}
.fixed-header{
  top: 0;
  padding-left: 10px;
}
.fixed-footer{
  bottom: 0;
  text-align: center;
}
.fixed-header a{
  display: inline-flex;
}
.fixed-header img{
 height: 40px;
}